* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v90_181 {
  width: 411px;
  height: 731px;
  max-width: 500px;
  margin: auto;
  background: rgba(0,51,80,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v90_182 {
  width: 411px;
  height: 652px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}
.v90_183 {
  width: 152px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 27px;
  left: 238px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v90_184 {
  width: 362px;
  height: 84px;
  background: url("../images/v90_184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 25px;
  overflow: hidden;
}
.v90_185 {
  width: 362px;
  height: 84px;
  background: url("../images/v90_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v90_186 {
  width: 362px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  font-size: 18px;
  padding: 15px;
}
.v90_187 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 12px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_188 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 16px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_189 {
  width: 10px;
  color: rgba(221,57,57,1);
  position: absolute;
  top: 0px;
  left: 119px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_190 {
  width: 362px;
  height: 84px;
  background: url("../images/v90_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 217px;
  left: 25px;
  overflow: hidden;
}
.v90_191 {
  width: 362px;
  height: 84px;
  background: url("../images/v90_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v90_192 {
  width: 362px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v90_193 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 12px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_194 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 16px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_195 {
  width: 10px;
  color: rgba(221,57,57,1);
  position: absolute;
  top: 0px;
  left: 161px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_196 {
  width: 144px;
  height: 42px;
  background: url("../images/v90_196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 216px;
  overflow: hidden;
}
.v90_197 {
  width: 144px;
  height: 42px;
  background: rgba(0,52,81,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v90_198 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 53px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_199 {
  width: 144px;
  height: 42px;
  background: url("../images/v90_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 55px;
  overflow: hidden;
}
.v90_200 {
  width: 144px;
  height: 42px;
  background: rgba(206,206,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
}
