* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 411px;
  height: 731px;
  max-width: 500px;
  margin: auto;
  background: rgba(0,51,80,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v25_5 {
  width: 212px;
  height: 60px;
  background: url("../images/v25_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 379px;
  left: 99px;
  overflow: hidden;
}
.v25_2 {
  width: 212px;
  height: 60px;
  background: rgba(189,84,84,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  animation: moveUpBB 3s ease;
}

.v25_4 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 65px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  animation: moveUpB 3s ease;
}
.v62_152 {
  width: 639px;
  height: 316px;
  background: url("../images/v62_153.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 462px;
  right: 100px;
  animation: moveUpC 3s ease;
}
.v111_172 {
  width: 157px;
  height: 197px;
  background: url("../images/v111_172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 127px;
  overflow: hidden;
  animation: moveUp 3s ease;
}


@keyframes moveUp {
  0% {
    top: 250px;
    opacity: 0;
  }
  100% {
    top: 93px;
    opacity: 1;
  }
}
@keyframes moveUpB {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 12px;
    opacity: 1;
  }
}
@keyframes moveUpBB {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes moveUpC {
  0% {
    top: 600px;
    opacity: 0;
  }
  100% {
    top: 462px;
    opacity: 1;
  }
}