* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v100_280 {
  width: 411px;
  height: 731px;
  max-width: 500px;
  margin: auto;
  background: rgba(0,51,80,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v100_281 {
  width: 411px;
  height: 652px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}
.v100_282 {
  width: 155px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 232px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v100_283 {
  width: 330px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 103px;
  left: 42px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v100_284 {
  width: 362px;
  height: 274px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 26px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v100_285 {
  width: 330px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 143px;
  left: 42px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v100_286 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 166px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v100_287 {
  width: 220px;
  height: 42px;
  background: url("../images/v100_287.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 99px;
  overflow: hidden;
}
.v100_288 {
  width: 220px;
  height: 42px;
  background: rgba(234,89,93,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v100_289 {
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 16px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v100_290 {
  width: 220px;
  height: 42px;
  background: url("../images/v100_290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 97px;
  overflow: hidden;
}
.v100_291 {
  width: 220px;
  height: 42px;
  background: rgba(0,52,81,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v100_292 {
  width: 156px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 32px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v100_293 {
  width: 71px;
  height: 89px;
  background: url("../images/v100_293.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 42px;
  overflow: hidden;
}
.v100_294 {
  width: 71px;
  height: 71px;
  background: url("../images/v100_294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v100_295 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 8px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
