* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v93_104 {
  width: 411px;
  height: 731px;
  max-width: 500px;
  margin: auto;
  background: rgba(0,51,80,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v93_105 {
  width: 411px;
  height: 652px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}
.v93_106 {
  width: 201px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 186px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v93_107 {
  width: 362px;
  height: 194px;
  background: url("../images/v93_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 25px;
  overflow: hidden;
}
.v93_108 {
  width: 362px;
  height: 112px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow-y: visible;
  font-size: 14px;
  padding: 15px;
}
.v93_109 {
  width: 202px;
  height: 37px;
  background: url("../images/v93_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v93_110 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v93_111 {
  width: 10px;
  color: rgba(221,57,57,1);
  position: absolute;
  top: 0px;
  left: 109px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v93_112 {
  width: 164px;
  height: 30px;
  background: url("../images/v93_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.v93_113 {
  width: 164px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v93_114 {
  width: 136px;
  height: 30px;
  background: url("../images/v93_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}
.v93_115 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v93_116 {
  width: 6px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 53px;
  font-family: Poppins;
  font-weight: Bold Italic;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v93_117 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 27px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v93_118 {
  width: 12px;
  height: 14px;
  background: url("../images/v93_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 124px;
  overflow: hidden;
}
.v93_119 {
  width: 14px;
  height: 14px;
  background: url("../images/v93_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 97px;
  overflow: hidden;
}
.v93_120 {
  width: 12px;
  height: 16px;
  background: url("../images/v93_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 72px;
  overflow: hidden;
}
.v93_121 {
  width: 362px;
  height: 141px;
  background: url("../images/v93_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 25px;
  overflow: hidden;
}
.v93_122 {
  width: 362px;
  height: 141px;
  background: url("../images/v93_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v93_123 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v93_125 {
  width: 362px;
  height: 105px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v93_126 {
  width: 253px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 111px;
  left: 55px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v93_127 {
  width: 362px;
  height: 105px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  z-index: 1;
  font-size: 50px;
}
.v93_128 {
  width: 362px;
  height: 81px;
  background: url("../images/v93_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 25px;
  overflow: hidden;
}
.v93_129 {
  width: 362px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  font-size: 18px;
  padding: 15px;
}
.v93_130 {
  width: 202px;
  height: 39px;
  background: url("../images/v93_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v93_131 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v93_132 {
  width: 10px;
  color: rgba(221,57,57,1);
  position: absolute;
  top: 0px;
  left: 173px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v93_133 {
  width: 309px;
  height: 42px;
  background: url("../images/v93_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 646px;
  left: 51px;
  overflow: hidden;
}
.v93_134 {
  width: 144px;
  height: 42px;
  background: url("../images/v93_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v93_135 {
  width: 144px;
  height: 42px;
  background: rgba(206,206,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v93_136 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 31px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v93_137 {
  width: 144px;
  height: 42px;
  background: url("../images/v93_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  overflow: hidden;
}
.v93_138 {
  width: 144px;
  height: 42px;
  background: rgba(0,52,81,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(206,206,206,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v93_139 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 48px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.upload-btn-wrapper {
  width: 362px;
  height: 105px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
}